@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.header {
    width: 100%;
    height: 50px;
    background-color: color.adjust(v.$color_white, $alpha: -0.85);
    margin-bottom: 150px;
    border: {
        bottom: {
            width: 1px;
            style: solid;
            color: v.$color_white;
        }
    }

    .nav {
        height: 50px;
        @include m.d-flex(start);
        color: v.$color_white;

        &__title {
            height: 100%;
            width: 255px;
            border-right: 1px solid v.$color_white;
            @include m.d-flex();

            &-link {
                font-size: 25px;
                font-weight: 500;

                span {
                    font-weight: 700;
                }

                @extend %hover-black;
            }
        }

        &__links {
            flex-grow: 1;

            .list {
                @include m.d-flex(start, center, row, nowrap, min(100px, 5vw), 0);
                padding: 0 0 0 min(100px, 5vw);

                &__item {
                    &-link {
                        font-size: 22px;

                        @extend %hover-black;
                    }
                }
            }

            @media (max-width: v.$media_lg) {
                .list {
                    @include m.d-flex(center, center, row, nowrap, min(100px, 5vw), 0);
                    padding: 0;
                }
            }
        }

        .covid {
            height: 100%;
            width: 200px;
            @include m.d-flex();
            border-left: 1px solid v.$color_white;
            border-right: 1px solid v.$color_white;

            &__link {
                font-weight: 700;
                font-size: 16px;

                @extend %hover-black;
            }
        }

        .globe {
            height: 100%;
            width: 88px;
            @include m.d-flex();
        }
    }   
}